#cesta {
    height: 50px;
}

#cesta p {
    height: 50px;
}

#body {
    display: flex;
}

#producto {
    width: 50%;
}

#cestaProducto {
    display: flex;
    height: 50px;
    align-items: center;
}